<configuration>
    <appender name="FILLS" class="ch.qos.logback.core.FileAppender">
        <filter class="FillsFilter" />
        <file>src/main/resources/logs/fills.log</file>
        <append>false</append>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILLS" />
    </root>

</configuration>