<configuration>
    <appender name="FILLS" class="ch.qos.logback.core.FileAppender">
        <filter class="filters.FillsFilter" />
        <file>data/zero-intelligence/fills.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILLS" />
    </root>

</configuration>